@CHARSET "UTF-8";

body {
	overflow: hidden;
}

* {
	margin: 0;
	font-family:"Microsoft Yahei";
	color: #666;
}

div{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;

}
/*.form{*/
/*	width:600px;*/
/*}*/
#header div a {
	text-decoration: none;
	font-size: 20px;
}

#header div{
	float: right;
	margin-top: 55px;
}


#login_header{
	height: 82px;
	width: 1200px;
}

.login_banner{
	height:475px;
	background-color: #39987c;
}

.login_form{
	height:310px;
	width:406px;
	float: right;
	margin-right:50px;
	margin-top: 50px;
	background-color: #fff;
}

#content {
	height: 475px;
	width: 1200px;
}

.login_box{
	margin: 20px;
	height: 260px;
	width: 366px;
}

h1 {
	font-size: 20px;
}
.msg_cont{
	background: none repeat scroll 0 0 #fff6d2;
	border: 1px solid #ffe57d;
	color: #666;
	height: 18px;
	line-height: 18px;
	padding: 3px 10px 3px 40px;
	position: relative;
	border: none;
}



.form .itxt {
	border: 0 none;
	float: none;
	font-family: "宋体";
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 0 10px 10px;
	width: 220px;
	border: 1px #e3e3e3 solid;
}

#sub_btn{
	background-color: #39987c;
	border: none;
	color: #fff;
	width: 360px;
	height: 40px;
}

#l_content {
	float: left;
	margin-top: 150px;
	margin-left: 300px;
}

#l_content span {
	font-size: 60px;
	color: white;
}

.tit h1 {
	float: left;
	margin-top: 5px;
}

.tit a {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
	text-decoration: none;
}

.errorMsg1 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
}
.errorMsg2 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
}
.errorMsg3 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
}
.errorMsg4 {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: red;
}

.tit {
	height: 30px;
}

#main table{
	margin: auto;
	margin-top: 80px;
	border-collapse: collapse;
}

#main table td{
	width: 120px;
	text-align:center;
	border-bottom: 1px #e3e3e3 solid;
	padding: 10px;
}


#header div span {
	margin: 10px;
}

#header div .um_span{
	color: red;
	font-size: 25px;
	margin: 10px;
}

#header div a {
	color: blue;
}
#bottom {
	height: 30px;
	width: 1200px;
	text-align: center;
}
